

/*BIG TABLETS to 1200*/

@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row { padding: 0 2%;}
     


}

/*SMALL TABLETS to BIG TABLETS: 768 to 1023*/

@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0;}
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    .steps-box { margin-top: 10px;}
    .works-steps { margin-bottom: 40px;}
    .works-step:last-of-typem { margin-bottom: 60px; }
    
    .app-screen { width: 50%; }

    .city-feature { font-size: 90%;}

    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    .plan-price { font-size: 200%;}
}

/*SMALL PHONES to SMALL TABLETS: 481 to 767*/

@media only screen and (max-width: 767px) {
    body {font-size: 16px;}
    section{ padding: 30px 0;}

    .row,
    .hero-text-box {
        padding: 0 4%;
    }
    .col { width: 100%;}
    .main-nav {display: none;}
  
    h3 {margin-top: 15px;}
    
    .steps-box:last-child { margin-top: 0px;   }

    .app-screen {
        width: 23%;
        margin: -50px 125px 0 25px;
    }
}

/*SMALL PHONES from 0 to 480px*/

@media only screen and (max-width: 480px) {

}